<div class="form-container">
  <div class="header_dialog">
    <h2 mat-dialog-title>New Message</h2>
    <button mat-icon-button (click)="dialogRef.close(false)">x</button>
  </div>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Message : </mat-label>
        <textarea
          matInput
          placeholder="Message"
          formControlName="message"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="dialogRef.close(false)" color="primary">
      Close
    </button>
    <button
      [disabled]="!form.valid"
      mat-raised-button
      color="primary"
      (click)="onSubmit(form.value)"
    >
      Submit
    </button>
  </mat-dialog-actions>
</div>
