<mat-toolbar>
  <span>You will see all your messages here !!</span>
</mat-toolbar>
<div>
  <br />
  <div class="example-label">
    <button mat-raised-button color="primary" (click)="showPrompt()">
      New Message
    </button>
  </div>
</div>

<!-- TABLE -->

<div>
  <table mat-table [dataSource]="messagesData" class="table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td mat-cell *matCellDef="let element">{{ element.message }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">
        {{ parseDate(element.date) | date : "short" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
