<mat-toolbar>
  <span>THIS IS YOUR HOME PAGE !!</span>
</mat-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="mini-stats-wid card">
        <div class="card-body">
          <a class="link-unstyled">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="text-muted fw-medium">Total Users</p>
                <!-- <h4 class="mb-0">{{totalUser}}</h4> -->
              </div>
              <div
                class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
              >
                <span class="avatar-title"
                  ><i class="bx bx-group font-size-24"></i
                ></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mini-stats-wid card">
        <div class="card-body">
          <a class="link-unstyled">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="text-muted fw-medium">Total Active users</p>
                <!-- <h4 class="mb-0">{{ActiveUser}}</h4> -->
              </div>
              <div
                class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
              >
                <span class="avatar-title"
                  ><i class="bx bx-group font-size-24"></i
                ></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mini-stats-wid card">
        <div class="card-body">
          <a class="link-unstyled">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="text-muted fw-medium">Total InActive users</p>
                <!-- <h4 class="mb-0">{{InactiveUser}}</h4> -->
              </div>
              <div
                class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
              >
                <span class="avatar-title"
                  ><i class="bx bx-group font-size-24"></i
                ></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mini-stats-wid card">
        <div class="card-body">
          <a
            routerLinkActive="active"
            routerLink="/sub-category-management"
            class="link-unstyled"
          >
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="text-muted fw-medium">Total SubCategories</p>
                <!-- <h4 class="mb-0">{{totalSubcategory}}</h4> -->
              </div>
              <div
                class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
              >
                <span class="avatar-title"
                  ><i class="bx bx-sitemap font-size-24"></i
                ></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mini-stats-wid card">
        <div class="card-body">
          <a
            routerLinkActive="active"
            routerLink="/therapy-management"
            class="link-unstyled"
          >
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="text-muted fw-medium">Total Therapies</p>
                <!-- <h4 class="mb-0">{{totaltherapy}}</h4> -->
              </div>
              <div
                class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
              >
                <span class="avatar-title"
                  ><i class="pi pi-plus font-size-24"></i
                ></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mini-stats-wid card">
        <div class="card-body">
          <a
            routerLinkActive="active"
            routerLink="/resorces-type"
            class="link-unstyled"
          >
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="text-muted fw-medium">Total Resources</p>
                <!-- <h4 class="mb-0">{{totalResources}}</h4> -->
              </div>
              <div
                class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
              >
                <span class="avatar-title"
                  ><i class="bx bx-health font-size-24"></i
                ></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mini-stats-wid card">
        <div class="card-body">
          <a
            routerLinkActive="active"
            routerLink="/therapy-management"
            class="link-unstyled"
          >
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="text-muted fw-medium">Total Therapy Resources</p>
                <h4 class="mb-0">{{ "15" }}</h4>
              </div>
              <div
                class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
              >
                <span class="avatar-title"
                  ><i class="pi pi-plus font-size-24"></i
                ></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mini-stats-wid card">
        <div class="card-body">
          <a
            routerLinkActive="active"
            routerLink="/intro-video"
            class="link-unstyled"
          >
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="text-muted fw-medium">Total Intro Videos</p>
                <h4 class="mb-0">{{ "23" }}</h4>
              </div>
              <div
                class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
              >
                <span class="avatar-title"
                  ><i class="pi pi-volume-down font-size-24"></i
                ></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mini-stats-wid card">
        <div class="card-body">
          <a
            routerLinkActive="active"
            routerLink="/faq-management"
            class="link-unstyled"
          >
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="text-muted fw-medium">Total FAQ</p>
                <h4 class="mb-0">{{ "12" }}</h4>
              </div>
              <div
                class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
              >
                <span class="avatar-title"
                  ><i class="pi pi-comments font-size-24"></i
                ></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
